.item {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

/* .status {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
} */

.online {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.offline {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
